###############
#    folder   #
###############
.settings/
target
metadata


 

###############
#     file    #
###############
*.properties
config.properties
/.classpath
/.project
/resources/*.properties